<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>LAWFIRM DISCOVERY</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />

        <!-- google font -->
	    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
	      <!-- JS -->   
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
        <!-- google platform library -->   
      <script src="https://apis.google.com/js/platform.js" async defer></script>   
      <meta name="google-signin-client_id" content="477442066838-v6vnfge4mi2bd6rv02jhbufolh5riqsj.apps.googleusercontent.com">
        <!-- added by hussell to get profile info with google login api -->   
      <script>
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
      </script>   

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('home')}}" class="logo">법무법인 디스커버리</a>
					<nav id="nav">
						<a class="rightMenu" href="{{ url_for('lawyer')}}">변호사 소개</a>
						<a class="rightMenu hidden" href="filed.html">업무분야</a>
						<a class="rightMenu" href="case.html">승소사례</a>						
						<a class="rightMenu" href="#">|</a>
						<a class="rightMenu hidden" href="#">중소기업 법률자문센터</a>
						<a class="rightMenu" href="#">Blog</a>
						<a class="rightMenu" href="#">|</a>
						<a class="rightMenu" href="#">판례 검색</a>
						<a class="rightMenu" href="#">Lawbot</a>
						<a class="rightMenu" href="#">|</a>
						<a class="rightMenu" href="{{ url_for('signin')}}">로그인</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>LAWFIRM DISCOVERY</h1>
				<p>Discovery Evidence & Depend Your Right</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Discovery Evidence!</h3>
							</header>
							<p>소송의 승패는 얼마나 유리한 증거를 찾느냐에 달려있습니다. 각 사건에 맞는 유리한 증거를 찾기 위한 최선의 방법을 제공합니다</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Depend Your Right!</h3>
							</header>
							<p>수집된 증거를 통해 여러분의 권리를 스스로 지켜야 합니다.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>By LAWFRIM DISCOVERY</h3>
							</header>
							<p>법무법인 디스커버리가 있습니다.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>OUR LAWYER</h2>
						<p>저희 법인의 변호사들을 소개합니다.</p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/profile_jinu01.jpeg') }}" alt="박진우 변호사" />
							</div>
							<h3>박진우 대표변호사</h3>
							<p>jinu0720@naver.com</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{{ url_for('static', filename='images/profile_hoseong01.jpg') }}" alt="천호성 변호사" />
							</div>
							<h3>천호성 대표변호사</h3>
							<p>cjsghtjdsla@gmail.com</p>
						</div>
					</div>
				</div>
			</section> -->

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Nunc Dignissim</h2>
						<p>Aliquam erat volutpat nam dui </p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Praesent placerat magna</h3>
							</header>
							<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Fusce pellentesque tempus</h3>
							</header>
							<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>
